@model _eDnevnik.Web.ViewModel.OdjeljenjePrikazUcenikaVM
@{
    ViewData["Title"] = "PrikazUcenika";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Broj u dnevniku</th>
            <th>JMBG</th>
            <th>Ime roditelja</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var x in @Model.ListaUcenika)
        {
            <tr>

                <td>@x.ImePrezime</td>

                <td>@x.BrojUDnevniku</td>

                <td>@x.JMBG</td>

                <td>@x.ImeRoditelja</td>

               
            </tr>
        }
    </tbody>

</table>


<script>
    $(document).ready(function (p) {
        $("button[ajax-poziv='da']").click(function (event) {
            var btn = $(this);
            var url = btn.attr("ajax-url");
            var r = btn.attr("ajax-rezultat");
            $.get(url, function (rezultat, status) {
                $("#" + r).html(rezultat);
            });
        });
    });
</script>



